<%- include('header') -%>
<script>
  winodow.initialData = <%- JSON.stringify(initialData) -%>
</script>
<body>
  <div id="root">
    <%- initialMarkup -%>
  </div>
  <script src="./bundle.js"></script>
</body>
</html>
